
.banner {
  color:white;
  padding: 120px 0;
  text-align: center;
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
}

.banner h1 {
  font-size: 38px;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat";
  color: #A0A0A0;
  font-weight: normal;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 700px;
  margin: 50px auto;
}
